<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/error.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Human Health</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/tools.html">Tools</a></li>
                    <li><a href="/help.html">Help</a></li>
                    <li id="loginNavBtn"><a href="/login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1 class="error">404</h1>
        <p class="error">Page Not Found</p>
    </main>
</body>
</html>