<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heartrate - HHA</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Human Health</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/tools.html">Tools</a></li>
                    <li><a href="/help.html">Help</a></li>
                    <li id="loginNavBtn"><a href="/login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <h2>Heart rate monitor</h2>
            <p>Load from internet</p>
            <label class="switch">
                <input type="checkbox" id="toggleNetLoad" checked>
                <span class="slider round"></span>
            </label>
            <br>
            <canvas id="heartRateCanvas" width="500" height="250"></canvas>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 HHA. All rights reserved.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/smoothie"></script>
    <script src="/static/js/heartrate.js"></script>
</body>
</html>
