<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HHA</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="/static/css/features.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>Human Health</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/tools.html">Tools</a></li>
                    <li><a href="/help.html">Help</a></li>
                    <li id="loginNavBtn"><a href="/login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="card">
            <h2>Where health meets decentralisation</h2>
            <p>Your one-way portal into the world where devices no longer need to log data online. </p>
            <a href="/tools.html" class="cta-button">View tools</a>
        </section>

        <section class="features">
            <div class="feature-card">
                <img src="https://img.icons8.com/ios/50/000000/monitor.png" alt="Monitoring">
                <h3>Monitor statistics</h3>
                <p>Track your heart rate and monitor blood pressure</p>
            </div>
            <div class="feature-card">
                <img src="https://img.icons8.com/?size=100&id=87374&format=png&color=000000" alt="Barcode">
                <h3>Scan barcodes</h3>
                <p>Get on top of your nutrition with our new barcode scanning technology</p>
            </div>
            <div class="feature-card">
                <img src="https://img.icons8.com/ios/50/000000/stethoscope.png" alt="Consultas">
                <h3>Medical alerts</h3>
                <p>Get real time notifications and alerts when some levels are dangerously low or the device predicts that something bad will happen</p>
            </div>
        </section>

        <section class="card">
            <h2>About</h2>
            <p>{{ about_text | safe}}</p>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2025 HHA. All rights reserved.</p>
        </div>
    </footer>

    <script src="/static/js/script.js"></script>
</body>

</html>
